<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<div class="container slider-full-cont">
  <div class="slider-full-main">
      <div class="swiper slider-full">
        <div class="swiper-wrapper slider-full-wrapper">
          <div class="swiper-slide slider-full-slide">Slide 1</div>
          <div class="swiper-slide slider-full-slide">Slide 2</div>
          <div class="swiper-slide slider-full-slide">Slide 3</div>
          <div class="swiper-slide slider-full-slide">Slide 4</div>
        </div>
      </div>
      <div class="slider-full-navigation">
        <div class="slider-full-btn slider-full-prev"><</div>
        <div class="slider-full-btn slider-full-next">></div>
      </div>
      <div class="slider-full-pagination"></div>
      <div class="slider-full-title">
        <span>the 2045©️ pursuit jacket collection</span>
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{{ 'slider-full.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Full Width Slider",
    "tag": "section",
    "class": "slider-full-section",
    "settings": [
      
    ]
  }
  {% endschema %}